<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>Pets</string>
		<key>colorCode</key>
		<string>#754312</string>
		<key>iconName</key>
		<string>category_icon_pets</string>
		<key>orderNumber</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>Maintenance</string>
		<key>colorCode</key>
		<string>#5B97D6</string>
		<key>iconName</key>
		<string>category_icon_utilities</string>
		<key>orderNumber</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>Education</string>
		<key>colorCode</key>
		<string>#000000</string>
		<key>iconName</key>
		<string>category_icon_education</string>
		<key>orderNumber</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>Donation</string>
		<key>colorCode</key>
		<string>#FF9898</string>
		<key>iconName</key>
		<string>category_icon_gift</string>
		<key>orderNumber</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>Sport</string>
		<key>colorCode</key>
		<string>#818181</string>
		<key>iconName</key>
		<string>category_icon_health</string>
		<key>orderNumber</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>Transport</string>
		<key>colorCode</key>
		<string>#2F6299</string>
		<key>iconName</key>
		<string>category_icon_transportation</string>
		<key>orderNumber</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>Medical</string>
		<key>colorCode</key>
		<string>#9F0000</string>
		<key>iconName</key>
		<string>category_icon_medical</string>
		<key>orderNumber</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>Misc</string>
		<key>colorCode</key>
		<string>#85623F</string>
		<key>iconName</key>
		<string>category_icon_misc</string>
		<key>orderNumber</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>Entertainment</string>
		<key>colorCode</key>
		<string>#DB7139</string>
		<key>iconName</key>
		<string>category_icon_entertainment</string>
		<key>orderNumber</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>Groceries</string>
		<key>colorCode</key>
		<string>#F0C900</string>
		<key>iconName</key>
		<string>category_icon_groceries</string>
		<key>orderNumber</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>Eating Out</string>
		<key>colorCode</key>
		<string>#EEAF54</string>
		<key>iconName</key>
		<string>category_icon_eatingout</string>
		<key>orderNumber</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>desc</key>
		<string>Bills</string>
		<key>colorCode</key>
		<string>#64A977</string>
		<key>iconName</key>
		<string>category_icon_bills</string>
		<key>orderNumber</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
