<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>Pets</string>
		<key>colorCode</key>
		<string>#000000</string>
		<key>iconName</key>
		<string>category</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>Auto</string>
		<key>colorCode</key>
		<string>#000000</string>
		<key>iconName</key>
		<string>category</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>Education</string>
		<key>colorCode</key>
		<string>#000000</string>
		<key>iconName</key>
		<string>category</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>Gifts &amp; Donation</string>
		<key>colorCode</key>
		<string>#000000</string>
		<key>iconName</key>
		<string>category</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>Health &amp; Fitness</string>
		<key>colorCode</key>
		<string>#000000</string>
		<key>iconName</key>
		<string>category</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>Transportation</string>
		<key>colorCode</key>
		<string>#2F6299</string>
		<key>iconName</key>
		<string>category_icon_transportation</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>Medical</string>
		<key>colorCode</key>
		<string>#000000</string>
		<key>iconName</key>
		<string>category</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>Misc</string>
		<key>colorCode</key>
		<string>#000000</string>
		<key>iconName</key>
		<string>category</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>Entertainment</string>
		<key>colorCode</key>
		<string>#DB7139</string>
		<key>iconName</key>
		<string>category_icon_entertainment</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>Groceries</string>
		<key>colorCode</key>
		<string>#F0C900</string>
		<key>iconName</key>
		<string>category_icon_groceries</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>Eating Out</string>
		<key>colorCode</key>
		<string>#EEAF54</string>
		<key>iconName</key>
		<string>category_icon_eatingout</string>
		<key>childs</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Cafe</string>
				<key>colorCode</key>
				<string>ffffff</string>
				<key>iconName</key>
				<string>food</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>Restaurant</string>
				<key>colorCode</key>
				<string>ffffff</string>
				<key>iconName</key>
				<string>food</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>Bills &amp; Utilities</string>
		<key>colorCode</key>
		<string>#000000</string>
		<key>iconName</key>
		<string>category</string>
		<key>childs</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Phone</string>
				<key>colorCode</key>
				<string>000000</string>
				<key>iconName</key>
				<string>bill</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>Water</string>
				<key>colorCode</key>
				<string>000000</string>
				<key>iconName</key>
				<string>bill</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
